<% provide("title", "会員様情報") %>

<h4 class="mb-3">
    <b>会員様情報</b>
</h4>
<div class="col-sm-9 col-md-6 col-lg-4 border border-primary mt-4 px-3 py-2 bg-light">
  ユーザーネーム：<%= @user_info["name"] %>
  <br>
  <a href="/users/<%= @user_info["id"] %>/edit?param=ユーザーネーム" class="btn btn-primary my-2">変更</a>
  <br>
  <hr class="border-primary">
  メールアドレス：<%= @user_info["email"] %>
  <br>
  <a href="/users/<%= @user_info["id"] %>/edit?param=メールアドレス" class="btn btn-primary my-2">変更</a>
  <br>
  <hr class="border-primary">
  パスワード：＊＊＊＊＊＊
  <br>
  <a href="/users/<%= @user_info["id"] %>/edit?param=パスワード" class="btn btn-primary my-2">変更</a>
</div>
<br>
<%= link_to("サービス退会", "/users/#{@user_info["id"]}", class: "btn btn-danger", data: {"turbo-method"=>"delete", "turbo-confirm"=>"本当に退会しますか？"}) %>
<br><br>
