<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
</head>
<body>
    <h2>ログイン</h2>
    <% flash.each do |message_type, message| %>
        <div><%= message %></div>
        <br>
    <% end %>
    <div>
        <%= form_with url: '/login', method: :post do |form| %>
            <div>
                メールアドレス <%= form.text_field :email, required: true %>
            </div>
            <div>
                パスワード&emsp;&emsp; <%= form.password_field :pass, required: true %>
            </div>
            <br>
            <div>
                <%= form.submit 'ログイン' %>
            </div>
        <% end %>
    </div>
    <br>
    <div>
        <a href="/signin">新規アカウント</a>
    </div>
</body>
</html>
